<p id="notice"><%= notice %></p>

<h1>
  <%= @employee.name %>
</h1>

<br/>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Works for:</strong>
  <%= @employee.company.name %>
</p>
<br/>
<%= button_to "Delete Employee", employee_path, :method=>:delete, :class=>:destroy, data: { confirm: 'Are you sure?' } %>
<br/>
<%= link_to 'Back', companies_path(@company) %> |
<%= link_to 'Edit', edit_employee_path(@employee) %> 