<p id="notice"><%= notice %></p>

<h1>
  <%= @employee.name %>
</h1>

<br/>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Works for:</strong>
  <%= @employee.company.name %>
</p>

<%= link_to 'Back', companies_path(@company) %> |
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Destroy', @employee, method: :delete, data: { confirm: 'Are you sure?' } %>
