<p id="notice"><%= notice %></p>

<h1>
  <%= @building.name %>
</h1>

<br/>

<p>
  <strong>Country:</strong>
  <%= @building.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Rent per floor:</strong>
  <%= "$" + @building.rent_per_floor %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @building.number_of_floors %>
</p>

<p>
  <strong>Companies in building:</strong>
  <% @building.companies.each do |company| %>
      <br/><%= company.name unless company.name == "Vacant Floor"%>
    
    <% end %>
</p>

<p>
  <strong>Total Rent:</strong>
  <% @building.companies.each do |company| %>
  <% occupied_floor = Array.new %> 
  <% if company.name != "Vacant Floor"  %>
  <% occupied_floor << company.name %>
    <% answer = @building.number_of_floors - (occupied_floor).length %>
    <%= answer.to_int * @building.rent_per_floor.to_i%>
  <% end %>
<% end %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
